flows.json
[
    {
        "id": "b746b29db8bd01c3",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a70f457d11f280a",
        "type": "mqtt-broker",
        "name": "Rasbperry Pi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c3a84d64170fa462",
        "type": "ui_tab",
        "name": "Window Sill",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "457a35c012e8c66d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#007c41",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#007c41",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#007c41",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#00c869",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#007c41",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Plant-Irrigator",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d3612f0690aadf1d",
        "type": "ui_group",
        "name": "Arugula",
        "tab": "c3a84d64170fa462",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b27ded89b5355e9c",
        "type": "ui_group",
        "name": "Environment",
        "tab": "c3a84d64170fa462",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2b62981a74eae1c",
        "type": "mqtt in",
        "z": "b746b29db8bd01c3",
        "name": "Environment-MQTT",
        "topic": "window_sill",
        "qos": "0",
        "datatype": "auto",
        "broker": "1a70f457d11f280a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "4f82448631f46cc9"
            ]
        ]
    },
    {
        "id": "8a09a0a7170ac640",
        "type": "ui_text",
        "z": "b746b29db8bd01c3",
        "group": "b27ded89b5355e9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}} °F",
        "layout": "row-center",
        "className": "",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "4f82448631f46cc9",
        "type": "json",
        "z": "b746b29db8bd01c3",
        "name": "E-Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "ef0f1f58848857f0",
                "a069073657c8045d"
            ]
        ]
    },
    {
        "id": "97437ae08584d640",
        "type": "ui_text",
        "z": "b746b29db8bd01c3",
        "group": "b27ded89b5355e9c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "72d659bf7994f24d",
        "type": "ui_chart",
        "z": "b746b29db8bd01c3",
        "name": "",
        "group": "b27ded89b5355e9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "200",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ef0f1f58848857f0",
        "type": "function",
        "z": "b746b29db8bd01c3",
        "name": "Temp-Parse",
        "func": "var out = {};\nout.payload = msg.payload.temperature\nreturn out;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "72d659bf7994f24d",
                "8a09a0a7170ac640"
            ]
        ]
    },
    {
        "id": "a069073657c8045d",
        "type": "function",
        "z": "b746b29db8bd01c3",
        "name": "Hum-Parse",
        "func": "var out = {};\nout.payload = msg.payload.humidity\nreturn out;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "97437ae08584d640",
                "535dd035054f7905"
            ]
        ]
    },
    {
        "id": "535dd035054f7905",
        "type": "ui_chart",
        "z": "b746b29db8bd01c3",
        "name": "",
        "group": "b27ded89b5355e9c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "200",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b99735f09b5f1005",
        "type": "mqtt in",
        "z": "b746b29db8bd01c3",
        "name": "Basil-MQTT",
        "topic": "basil",
        "qos": "0",
        "datatype": "auto",
        "broker": "1a70f457d11f280a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "88a55a9cbd2548d3"
            ]
        ]
    },
    {
        "id": "88a55a9cbd2548d3",
        "type": "json",
        "z": "b746b29db8bd01c3",
        "name": "E-Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "07be19e0ac8319cc"
            ]
        ]
    },
    {
        "id": "07be19e0ac8319cc",
        "type": "function",
        "z": "b746b29db8bd01c3",
        "name": "Moist-Parse",
        "func": "var out = {};\nout.payload = msg.payload.moisture\nreturn out;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 300,
        "wires": [
            [
                "7146ed79ff2a4799",
                "029b170de8ed7b59"
            ]
        ]
    },
    {
        "id": "7146ed79ff2a4799",
        "type": "ui_text",
        "z": "b746b29db8bd01c3",
        "group": "d3612f0690aadf1d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Moisture",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "029b170de8ed7b59",
        "type": "ui_chart",
        "z": "b746b29db8bd01c3",
        "name": "",
        "group": "d3612f0690aadf1d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "200",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "06f92a47d9046de6",
        "type": "ui_slider",
        "z": "b746b29db8bd01c3",
        "name": "Water-Slider",
        "label": "",
        "tooltip": "",
        "group": "d3612f0690aadf1d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "7248a53a9b4d05dc"
            ]
        ]
    },
    {
        "id": "8cbc8c1ad99d4698",
        "type": "ui_button",
        "z": "b746b29db8bd01c3",
        "name": "Water-Button",
        "group": "d3612f0690aadf1d",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Water Plant",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "fdb5147d45c9ad0d"
            ]
        ]
    },
    {
        "id": "df4fe2896c5905eb",
        "type": "ui_text",
        "z": "b746b29db8bd01c3",
        "group": "d3612f0690aadf1d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Manual Water Control (s)",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 230,
        "y": 400,
        "wires": []
    },
    {
        "id": "f9b86d6427f7defb",
        "type": "mqtt out",
        "z": "b746b29db8bd01c3",
        "name": "Basil-Water-MQTT",
        "topic": "basil/water",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a70f457d11f280a",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "7248a53a9b4d05dc",
        "type": "change",
        "z": "b746b29db8bd01c3",
        "name": "Store-Slider",
        "rules": [
            {
                "t": "set",
                "p": "UserInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fdb5147d45c9ad0d",
        "type": "change",
        "z": "b746b29db8bd01c3",
        "name": "Retrieve-Slider",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UserInput",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "f9b86d6427f7defb"
            ]
        ]
    }
]